@import "settings";
@import "foundation";
body {
  font-family: 'Griffy', cursive;
}

.switchable {
  background: -moz-radial-gradient(center, ellipse cover, rgba(84, 147, 233, 0.65) 1%, rgba(103, 171, 235, 0.65) 17%, rgba(78, 130, 178, 0.65) 37%, rgba(35, 58, 79, 0) 72%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, rgba(84, 147, 233, 0.65)), color-stop(17%, rgba(103, 171, 235, 0.65)), color-stop(37%, rgba(78, 130, 178, 0.65)), color-stop(72%, rgba(35, 58, 79, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  
  background: -webkit-radial-gradient(center, ellipse cover, rgba(84, 147, 233, 0.65) 1%, rgba(103, 171, 235, 0.65) 17%, rgba(78, 130, 178, 0.65) 37%, rgba(35, 58, 79, 0) 72%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  
  background: -o-radial-gradient(center, ellipse cover, rgba(84, 147, 233, 0.65) 1%, rgba(103, 171, 235, 0.65) 17%, rgba(78, 130, 178, 0.65) 37%, rgba(35, 58, 79, 0) 72%, rgba(0, 0, 0, 0) 100%);
  /* Opera 12+ */
  
  background: -ms-radial-gradient(center, ellipse cover, rgba(84, 147, 233, 0.65) 1%, rgba(103, 171, 235, 0.65) 17%, rgba(78, 130, 178, 0.65) 37%, rgba(35, 58, 79, 0) 72%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
}

body {
  background-color: #cb9540;
  background-image: url(../images/paper_texture322.jpg);
  //  background-size:cover;
}

.main,
.intro {
  background-color: rgba(242, 242, 242, 0.39);
  border: none;
}

.intro {}

p {
  font-size: 2em;
}

.button {
  font-size: 2em;
}

h1 {
  //  font-family:'Jim Nightshade',cursive;
  //  font-family: 'Macondo Swash Caps', cursive;
  //  font-family: 'Eagle Lake', cursive;
  //  font-family: 'UnifrakturCook', cursive;
  //  font-family: 'UnifrakturMaguntia', cursive;
  font-family: 'Griffy', cursive;
  font-size: 2.3em;
}

span {
  font-family: 'Griffy', cursive;
  font-size: 1em;
}

p::first-letter,
h1::first-letter {
  font-weight: 550;
  font-size: 2em;
}

P {
  line-height: 2.75em;
}
article.about p  {
  line-height: 2em;
}
p.signature {
  font-size: 2em;
}
span.credit {
  white-space: nowrap;
}

.author {
  display: none;
}

.wordTable ul li {
  border: 1px solid red;
  list-style: none;
  display: none;
  position: relative
}
#iAmNotAHuman {
  display: none;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";